@import "tailwindcss";

:root {
  --dark: #0d0e0e;
  --body: #f2f2f2;
  --primary: #7b61ff;
  --secondary: #dff700;
  --accent: #ff5e54;
}

@theme inline {
  --color-dark: var(--dark);
  --color-body: var(--body);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
}

.wrapper {
  position: relative;
}

.curved-section {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--body);
  z-index: 1;
}

.top-circle-container {
  position: relative;
  order: -1;
}

.top-circle {
  height: 250%;
  width: 120%;
  left: -10%;
  border-radius: 50% 50% 0 0;
  background-color: var(--body);
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.content {
  padding: 9rem 0;
  position: relative;
  z-index: 1;
}

.circle-container {
  position: relative;
  pointer-events: none;
}

.circle {
  height: 250%;
  width: 120%;
  left: -10%;
  border-radius: 0 0 50% 50%;
  background-color: var(--body);
  z-index: 1;
  position: absolute;
}

.gradient-border-y {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(13, 14, 14, 0),
      rgba(13, 14, 14, 0.1),
      rgba(13, 14, 14, 0.2),
      rgba(13, 14, 14, 0.1),
      rgba(13, 14, 14, 0)
    )
    1;
}
.gradient-button {
  background: #7b61ff;
  background: linear-gradient(
    10deg,
    rgba(123, 97, 255, 0.5) 0%,
    rgba(13, 14, 14, 1) 70%
  );
}
.gradient-border-diagonal {
  background: #7b61ff;
  background: linear-gradient(
    45deg,
    rgba(123, 97, 255, 0.3) 0%,
    rgba(13, 14, 14, 0) 50%,
    rgba(123, 97, 255, 0.3) 100%
  );
}
