@import "tailwindcss";

:root {
  --dark: #0d0e0e;
  --body: #e9e9e9;
  --primary: #ee3124;
}

@theme inline {
  --color-dark: var(--dark);
  --color-body: var(--body);
  --color-primary: var(--primary);
}
