@import "tailwindcss";

:root {
  --dark: #0d0e0e;
  --body: #f2f2f2;
  --primary: #7b61ff;
  --secondary: #ffe459;
  --acccent: #ff5e54;
}

@theme inline {
  --color-dark: var(--dark);
  --color-body: var(--body);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

.wrapper {
  position: relative;
}

.curved-section {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--dark);
  z-index: 1;
}

.top-circle-container {
  position: relative;
  order: -1;
}

.top-circle {
  height: 250%;
  width: 120%;
  left: -10%;
  border-radius: 50% 50% 0 0;
  background-color: var(--dark);
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.content {
  padding: 9rem 0;
  position: relative;
  z-index: 1;
}

.circle {
  height: 250%;
  width: 120%;
  left: -10%;
  border-radius: 0 0 50% 50%;
  background-color: var(--dark);
  z-index: 1;
  position: absolute;
}

.card {
  position: relative;
}

#card-1 .card-inner {
  background-color: var(--primary);
}
#card-2 .card-inner {
  background-color: var(--secondary);
}
#card-3 .card-inner {
  background-color: var(--acccent);
}
